.community {
  position: relative;
  padding-top: 70px;
  padding-bottom: 120px;

  &__heading {
    position: relative;
    z-index: 2;
    margin-bottom: -30px;
  }

  &__container {
    @extend %container;
    position: relative;
    z-index: 3;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__info {
    width: 590px;
    padding-top: 60px;
  }

  &__text {
    @include text-style(1.6rem, 400, $primary-black);
    line-height: 18.5px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &--bordered {
      padding-left: 10px;
      border-left: 2px solid $accent-color;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  @include respond(tab-land) {
    &__row {
      display: block;
    }

    &__img {
      display: block;
      margin: 0 auto;
    }

    &__info {
      width: unset;
      margin-bottom: 20px;
    }
  }

  @include respond(phone) {
    padding-top: 60px;
    padding-bottom: 90px;

    &__heading {
      margin-bottom: 0;
    }

    &__info {
      padding-top: 16px;
    }

    &__text {
      font-size: 1.4rem;
      line-height: 16.24px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &--bordered {
        padding-left: 10px;
        border-left: 2px solid $accent-color;
      }
    }
  }
}
