.event {
  position: relative;
  padding-top: 70px;
  padding-bottom: 120px;

  &__heading {
    position: relative;
    z-index: 2;
    margin-bottom: -30px;
  }

  &__container {
    @extend %container;
    position: relative;
    z-index: 3;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__info {
    width: 692px;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__desc {

    &--d-none-lg {
      display: none;
    }
  }

  &__title {
    @include text-style(3.6rem, 700, $main-color);
    line-height: 43.5px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__text {
    @include text-style(1.6rem, 400, $primary-black);
    line-height: 18.5px;

    &--upperLetter {
      &:first-letter {
        text-transform: uppercase;
      }
    }

  }

  &__date-box {
    width: 488px;
    padding: 30px 30px 70px;
    position: relative;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
    background: #FFFFFF;

    box-shadow: 0 10px 30px rgba(138, 149, 158, 0.15);
    backdrop-filter: blur(10px);
  }

  &__item {
    margin-bottom: 50px;
    position: relative;
  }

  &__date {
    display: flex;
    align-items: center;

    & > * {
      &:not(:last-child) {
        position: relative;
        margin-right: 60px;

        &:after {
          content: '';
          position: absolute;
          left: calc(100% + 30px);
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 19px;
          background-color: $main-color;
        }
      }
    }
  }

  &__btn {
    position: relative;
    width: 100%;
  }

  &__bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include respond(tab-land) {
    &__desc {
      &--d-none-md {
        display: none;
      }

      &--d-none-lg {
        display: block;
      }
    }

    &__row {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      width: unset;
    }

    &__date-box {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  @include respond(phone) {
    padding-top: 60px;
    padding-bottom: 90px;

    &__heading {
      margin-bottom: -10px;
    }

    &__date-box {
      padding: 20px;
    }

    &__title {
      font-size: 2.2rem;
      line-height: 26.6px;
    }

    &__date {
      & > * {
        &:not(:last-child) {
          margin-right: 48px;

          &:after {
            left: calc(100% + 24px);
          }
        }
      }
    }

    &__item {
      margin-bottom: 30px;
    }

    &__text {
      font-size: 1.4rem;
      line-height: 16.24px;
    }
  }
}
