.footer {
  $e: &;
  background-color: #1D1D1D;

  &__container {
    @extend %container;
  }

  &__main {
    padding: 100px 0;
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  &__contacts {
    position: relative;
    margin-right: 162px;

    &:after {
      content: '';
      position: absolute;
      top: 20px;
      right: -31px;
      height: 200px;
      width: 1px;
      background-color: $accent-color;
      border-radius: 10px;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    &--start {
      align-items: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__icon {
    fill: $accent-color;
    margin-right: 12px;
  }

  &__phone-box {

  }

  &__phone {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    #{$e}__light-text {
      margin-left: 12px;
    }
  }

  &__text,
  &__text:link,
  &__text:visited {
    display: block;
    @include text-style(1.6rem, 500, $white-color);
  }

  &__light-text {
    @include text-style(1.2rem, 500, #9A9A9A);
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  &__social {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__links {
    & > * {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__pattern {
    position: absolute;
    width: 508px;
    height: 464px;
    top: 12px;
    right: -97px;
    background-image: url("../assets/img/footer-pattern.png");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    padding: 135px 0 0 24px;

    #{$e}__text {
      margin-left: 112px;
      line-height: 19px;
      span {
        font-weight: 600;
      }
    }
  }

  &__logo {
    margin-bottom: 12px;
  }

  &__copyrights {
    padding: 15px 0;
    text-align: center;
    @include text-style(1.6rem, 400, $primary-black);
    background-color: $accent-color;
  }
}
