.heading-fluid {
  background-color: $accent-color;
  padding-top: 20px;
  padding-bottom: 90px;

  &__container {
    @extend %container;
  }

  &__path {
    margin-bottom: 60px;
  }

  &__title {
    @include text-style(6rem, 700, $main-color);
    line-height: 72px;
    text-transform: uppercase;
    text-align: center;
  }
}
