.header {
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;

  transition: all .2s;

  $e: &;

  &--sidebar-open {
    right: 400px;
    left: -400px;
  }

  &--static {
    background-color: $accent-color;

    #{$e}__items {
      color: $main-color;
    }

    #{$e}__location {
      svg {
        fill: $main-color;
      }
    }

    #{$e}__user-box {
      svg {
        fill: $main-color;
      }
    }

    #{$e}__burger {
      fill: $main-color;
    }
  }

  &__container {
    @extend %container;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    align-items: center;
    @include text-style(1.6rem, 500, $white-color);
  }

  &__location {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    margin-right: 30px;

    svg {
      fill: $white-color;
      margin-right: 10px;
    }
  }

  &__lang-box {
    position: relative;
    cursor: pointer;
    margin-right: 30px;
  }

  &__lang-dropdown {
    text-transform: uppercase;
    background-color: $white-color;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    left: -10px;
    p {
      padding: 10px;
      color: $primary-black;

      &:first-child {
        border-bottom: 1px solid $primary-black;
      }
    }
  }

  &__user-box {
    svg {
      fill: $white-color;
    }

    margin-right: 30px;
  }

  &__burger {
    cursor: pointer;
    fill: $white-color;
  }

  &__location-dropdown {
    background-color: $white-color;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    left: 20px;
    p {
      padding: 12px 10px;
      color: $primary-black;

      &:first-child {
        border-bottom: 1px solid $primary-black;
      }
    }
  }

  @include respond(phone) {
    height: 60px;

    &__items {
      font-size: 1.4rem;
    }

    &__location {
      margin-right: 20px;

      svg {
        fill: $white-color;
        margin-right: 0;
      }
    }

    &__location-title {
      display: none;
    }

    &__lang-box {
      margin-right: 20px;
    }

    &__user-box {
      margin-right: 20px;
    }

    &__location-dropdown {
      top: 30px;
      left: 0;
    }
  }
}
