.inst-section {
  $e: &;

  padding: 120px 0;

  &__list {
    position: relative;
    height: 375px;
    display: flex;
    overflow: hidden;
  }

  &__item:not(:nth-child(1)) {
    position: relative;
    flex-grow: 1;

    &:hover {
      flex-grow: 2;

      @media only screen and (min-width: 1500px) {
        flex-grow: 1.2;
      }

      @media only screen and (min-width: 2000px) {
        flex-grow: 1;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: unset;
    }
  }

  &__item {
    position: relative;
    transition: all .2s;
  }
}
