.inst-section {
  $e: &;

  padding: 120px 0;

  &__list {
    position: relative;
    height: 375px;
    display: flex;
    overflow: hidden;
  }

  &__item:not(:nth-child(1)) {
    position: relative;
    flex-grow: 1;

    &:hover {
      flex-grow: 2;

      @media only screen and (min-width: 1500px) {
        flex-grow: 1.2;
      }

      @media only screen and (min-width: 2000px) {
        flex-grow: 1;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      max-width: unset;
      min-width: 375px;
    }
  }

  &__item {
    position: relative;
    transition: all .2s;
  }

  &__wrapper {
    display: none;
  }

  &__swiper-container {
    padding-bottom: 60px;
  }

  &__next {
    right: 0px;
    bottom: 0;
    width: 40px;
    height: 40px;
    top: unset;
    margin: unset;

    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background-image: url("../assets/img/icons/slider-arrow.svg");
    }
  }

  &__prev {
    left: unset;
    right: 70px;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    top: unset;
    margin: unset;

    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background-image: url("../assets/img/icons/slider-arrow.svg");
    }
  }

  &__inst-name {
    margin-bottom: 30px;
  }

  @include respond(tab-land) {
    &__list {
      display: none;
    }

    &__wrapper {
      display: block;
    }
  }

  @include respond(phone) {
    padding: 90px 0;

    &__container {
      max-width: 375px;
      padding: 0 15px;
      width: unset;
      margin-left: auto;
      margin-right: auto;
    }

    &__inst-name {
      display: block;
      margin: 0 auto 30px;
    }
  }
}
