.news-section {
  padding: 120px 0;

  $e: &;

  &__container {
    @extend %container;
  }

  &__heading {
    margin-bottom: 94px;
  }

  &__list {
    display: flex;
    align-items: flex-start;
  }

  &__item {
    width: 285px;
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      #{$e}__img {
        transform: rotate(-2deg);
        transition: all .2s;
      }

      #{$e}__title {
        font-weight: 700;
        transition: all .2s;
      }

      #{$e}__desc {
        font-weight: 600;
        transition: all .2s;
      }
    }
  }

  &__img {
    margin-bottom: 10px;
  }

  &__date {
    @include text-style(1.6rem, 400, rgba($primary-black, .45));
    margin-bottom: 20px;
  }

  &__title {
    @include text-style(2.2rem, 600, $main-color);
    line-height: 26px;
    margin-bottom: 12px;
  }

  &__desc {
    @include text-style(1.6rem, 400, rgba($primary-black, .7));
    line-height: 18.5px;
    margin-bottom: 20px;
  }

  &__more {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      @include text-style(1.6rem, 400, rgba(#131313, .5));
      text-transform: uppercase;
      margin-right: 10px;
    }
  }

  &__slider {
    display: none;
  }

  &__swiper-container {
    padding-bottom: 60px;
  }

  &__next {
    right: 0px;
    bottom: 0;
    width: 40px;
    height: 40px;
    top: unset;
    margin: unset;

    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background-image: url("../assets/img/icons/slider-arrow.svg");
    }
  }

  &__prev {
    left: unset;
    right: 70px;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    top: unset;
    margin: unset;

    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background-image: url("../assets/img/icons/slider-arrow.svg");
    }
  }

  @include respond(tab-land) {
    &__list {
      display: none;
    }

    &__slider {
      display: block;
    }

    &__item {
      width: 285px;
    }
  }

  @include respond(phone) {
    padding: 90px 0;

    &__heading {
      margin-bottom: 43px;
    }

    &__img {
      width: 100%;
    }

    &__date {
      font-size: 1.2rem;
    }

    &__title {
      font-size: 2rem;
      line-height: 23.86px;
    }

    &__desc {
      font-size: 1.4rem;
      line-height: 16.24px;
      margin-bottom: 36px;
    }

    &__more {
      font-size: 1.4rem;
    }
  }
}
