.online-booking {
  padding: 120px 0;
  background-color: #1D1D1D;

  &__container {
    @extend %container;
  }

  &__heading {
    margin-bottom: 94px;
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 50px;
    box-shadow: 0 10px 20px rgba(191, 191, 191, 0.15);
    border-radius: 5px;
    background-color: $accent-color;
    @include text-style(1.6rem, 600, $main-color);
    cursor: pointer;

    &--active {
      background-color: $white-color;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__item {
    position: relative;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__overlay {
    position: absolute;
    background-color: rgba(36, 130, 96, 0.5);
    opacity: 0;
    transition: all .4s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &--1 {
      width: 82px;
      height: 73px;
      clip-path: polygon(100% 0, 0 100%, 94% 100%);
      top: 24px;
      left: 51px;
    }

    &--2 {
      width: 59px;
      height: 55px;
      clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
      top: 101px;
      left: 45px;
    }

    &--3 {
      width: 59px;
      height: 51px;
      clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
      top: 158px;
      left: 41px;
    }

    &--4 {
      width: 63px;
      height: 95px;
      clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
      top: 213px;
      left: 33px;
    }

    &--5 {
      width: 62px;
      height: 63px;
      clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
      top: 334px;
      left: 25px;
    }

    &--6 {
      width: 63px;
      height: 64px;
      clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
      top: 400px;
      left: 20px;
    }

    &--7 {
      width: 64px;
      height: 66px;
      clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
      top: 468px;
      left: 13px;
    }

    &--8 {
      width: 64px;
      height: 64px;
      clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
      top: 536px;
      left: 9px;
    }

    &--9 {
      width: 180px;
      height: 89px;
      clip-path: polygon(6% 0%, 25% 0%, 25% 4%, 33% 3%, 25% -35%, 95% 1%, 168% 64%, 92% 100%, 91% 94%, 78% 95%, 77% 100%, 14% 100%, 15% 94%, 3% 96%);
      top: 376px;
      left: 99px;
    }

    &--10 {
      width: 63px;
      height: 59px;
      clip-path: polygon(5% 0, 100% 0, 98% 152%, 0 100%);
      top: 21px;
      left: 264px;
    }

    &--11 {
      width: 61px;
      height: 59px;
      clip-path: polygon(5% 0, 100% 0, 98% 152%, 0 100%);
      top: 21px;
      left: 327px;
    }

    &--12 {
      width: 128px;
      height: 138px;
      clip-path: polygon(5% 0, 100% 0, 105% 90%, 0% 102%);
      top: 21px;
      left: 388px;
    }

    &--13 {
      width: 126px;
      height: 123px;
      clip-path: polygon(5% 0%, 100% 0%, 101% 95%, 65% 93%, 1% 102%);
      top: 21px;
      left: 516px;
    }

    &--14 {
      width: 127px;
      height: 116px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      top: 21px;
      left: 647px;
    }

    &--15 {
      width: 53px;
      height: 237px;
      clip-path: polygon(14% 0%, 100% 0%, 94% 60%, 75% 100%, -8% 99%);
      top: 212px;
      left: 299px;
    }

    &--16 {
      width: 170px;
      height: 274px;
      clip-path: polygon(16% 6%, 89% 0%, 98% 41%, 81% 41%, 80% 54%, 99% 54%, 77% 101%, -3% 91%, 12% 53%, 20% 53%);
      top: 192px;
      left: 357px;
    }

    &--17 {
      width: 161px;
      height: 311px;
      clip-path: polygon(27% 2%, 80% 0%, 88% 19%, 62% 57%, 89% 62%, 166% 155%, 111% 94%, 102% 100%, 8% 92%, 32% 45%);
      top: 182px;
      left: 481px;
    }

    &--18 {
      width: 64px;
      height: 56px;
      clip-path: polygon(0% 12%, 89% 0, 97% 88%, 10% 99%);
      top: 163px;
      left: 617px;
    }

    &--19 {
      width: 69px;
      height: 60px;
      clip-path: polygon(22% 0%, 100% 31%, 79% 100%, 0% 63%);
      top: 241px;
      left: 612px;
    }

    &--20 {
      width: 55px;
      height: 70px;
      clip-path: polygon(30% 0%, 91% 19%, 89% 55%, 68% 100%, -3% 77%);
      top: 305px;
      left: 586px;
    }

    &--21 {
      width: 63px;
      height: 65px;
      clip-path: polygon(-2% 29%, 96% 6%, 98% 105%, 18% 100%);
      top: 168px;
      left: 715px;
    }

    &--22 {
      width: 60px;
      height: 60px;
      clip-path: polygon(9% 0, 95% 3%, 100% 90%, 0 98%);
      top: 234px;
      left: 720px;
    }

    &--23 {
      width: 57px;
      height: 50px;
      clip-path: polygon(0 16%, 97% 4%, 99% 92%, 24% 105%);
      top: 289px;
      left: 719px;
    }

    &--24 {
      width: 98px;
      height: 51px;
      clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
      top: 173px;
      left: 777px;
    }

    &--25 {
      width: 98px;
      height: 51px;
      clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
      top: 226px;
      left: 779px;
    }

    &--26 {
      width: 47px;
      height: 57px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 13% 98%, 11% 45%, 2% 45%);
      top: 279px;
      left: 780px;
    }

    &--27 {
      width: 51px;
      height: 57px;
      clip-path: polygon(0 0, 96% 0, 100% 100%, 3% 100%);
      top: 279px;
      left: 828px;
    }

    &--28 {
      width: 134px;
      height: 90px;
      clip-path: polygon(2% 0%, 96% 0%, 100% 93%, 90% 93%, 90% 100%, 1% 100%, 0% 65%, 3% 66%);
      top: 247px;
      left: 908px;
    }

    &--29 {
      width: 67px;
      height: 89px;
      clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 98%);
      top: 247px;
      left: 1046px;
    }

    &--30 {
      width: 69px;
      height: 89px;
      clip-path: polygon(0% 0%, 92% 0%, 100% 66%, 93% 65%, 97% 99%, 9% 100%);
      top: 247px;
      left: 1108px;
    }

    &--31 {
      width: 62px;
      height: 60px;
      clip-path: polygon(4% 0, 100% 0, 95% 100%, 0 100%);
      top: 22px;
      left: 133px;
    }

    &--32 {
      width: 62px;
      height: 60px;
      clip-path: polygon(4% 0, 100% 0, 95% 100%, 0 100%);
      top: 85px;
      left: 131px;
    }

    &--33 {
      width: 104px;
      height: 79px;
      clip-path: polygon(2% 0, 100% 0, 100% 100%, 0 100%);
      top: 22px;
      left: 309px;
    }

    &--34 {
      width: 207px;
      height: 89px;
      clip-path: polygon(1% 0, 100% 0, 100% 100%, 0 100%);
      top: 22px;
      left: 413px;
    }

    &--35 {
      width: 144px;
      height: 96px;
      clip-path: polygon(80% 0%, 101% 32%, 54% 98%, -2% 20%, 14% 0);
      top: 144px;
      left: 286px;
    }

    &--36 {
      width: 138px;
      height: 141px;
      clip-path: polygon(-2% 45%, 49% -1%, 100% 51%, 50% 100%, 21% 67%);
      top: 177px;
      left: 366px;
    }

    &--37 {
      width: 134px;
      height: 129px;
      clip-path: polygon(0% 53%, 52% 0%, 101% 49%, 52% 101%);
      top: 252px;
      left: 437px;
    }

    &--38 {
      width: 208px;
      height: 175px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 84% 100%);
      top: 144px;
      left: 403px;
    }

    &--39 {
      width: 106px;
      height: 106px;
      clip-path: polygon(99% 3%, 97% 39%, 37% 100%, 2% 62%, 61% 3%);
      top: 317px;
      left: 507px;
    }

    &--40 {
      width: 104px;
      height: 108px;
      clip-path: polygon(66% 0%, 103% 36%, 33% 102%, 0% 64%);
      top: 358px;
      left: 547px;
    }

    &--41 {
      width: 104px;
      height: 102px;
      clip-path: polygon(67% 0%, 103% 36%, 40% 100%, -3% 71%);
      top: 398px;
      left: 584px;
    }

    &--42 {
      width: 102px;
      height: 82px;
      clip-path: polygon(63% 0%, 102% 49%, 88% 60%, 74% 73%, 34% 98%, 23% 99%, 0% 80%);
      top: 436px;
      left: 628px;
    }

    &--43 {
      width: 223px;
      height: 195px;
      clip-path: polygon(0% 5%, 8% 5%, 7% 0%, 58% 0%, 58% 4%, 99% 4%, 100% 32%, 85% 63%, 78% 57%, 63% 57%, 64% 75%, 77% 75%, 55% 100%, -17% 18%);
      top: 279px;
      left: 612px;
    }

    &--44 {
      width: 104px;
      height: 80px;
      clip-path: polygon(21% 25%, 21% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
      top: 144px;
      left: 613px;
    }

    &--45 {
      width: 52px;
      height: 52px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 31% 98%, 0 95%);
      top: 226px;
      left: 612px;
    }

    &--46 {
      width: 52px;
      height: 52px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      top: 226px;
      left: 666px;
    }

    &--47 {
      width: 105px;
      height: 133px;
      clip-path: polygon(0% 0%, 29% 0%, 31% 8%, 79% 8%, 97% 36%, 100% 67%, 95% 101%, 100% 100%, 0% 100%);
      top: 144px;
      left: 720px;
    }

    &--48 {
      width: 71px;
      height: 43px;
      clip-path: polygon(0 0, 100% 1%, 101% 100%, 2% 100%);
      top: 219px;
      left: 892px;
    }

    &--49 {
      width: 86px;
      height: 66px;
      clip-path: polygon(18% 0%, 100% 0%, 103% 100%, 1% 100%, 15% 33%, 25% 35%, 25% 19%, 18% 18%);
      top: 265px;
      left: 878px;
    }

    &--50 {
      width: 177px;
      height: 90px;
      clip-path: polygon(0% 64%, 13% 0%, 100% 0%, 100% 60%, 98% 61%, 99% 100%, 39% 100%, 39% 64%);
      top: 333px;
      left: 855px;
    }

    &--51 {
      width: 108px;
      height: 104px;
      clip-path: polygon(68% 0%, 100% 36%, 33% 100%, -2% 64%);
      top: 143px;
      left: 157px;
    }

    &--52 {
      width: 108px;
      height: 104px;
      clip-path: polygon(65% -2%, 100% 36%, 36% 100%, 1% 61%);
      top: 185px;
      left: 195px;
    }

    &--53 {
      width: 126px;
      height: 114px;
      clip-path: polygon(55% 0%, 100% 45%, 38% 102%, -2% 58%);
      top: 225px;
      left: 235px;
    }

    &--54 {
      width: 108px;
      height: 105px;
      clip-path: polygon(69% 0%, 100% 37%, 37% 104%, 0% 65%);
      top: 278px;
      left: 289px;
    }

    &--55 {
      width: 108px;
      height: 106px;
      clip-path: polygon(64% 0%, 100% 36%, 35% 100%, 0% 63%);
      top: 320px;
      left: 330px;
    }

    &--56 {
      width: 108px;
      height: 115px;
      clip-path: polygon(64% 0%, 100% 31%, 87% 43%, 100% 54%, 43% 101%, -1% 60%);
      top: 361px;
      left: 371px;
    }

    &--57 {
      width: 137px;
      height: 136px;
      clip-path: polygon(54% 0, 100% 50%, 50% 100%, 0 49%);
      top: 416px;
      left: 424px;
    }

    &--58 {
      width: 130px;
      height: 133px;
      clip-path: polygon(54% 0, 100% 44%, 47% 100%, 0 53%);
      top: 485px;
      left: 494px;
    }

    &--59 {
      width: 118px;
      height: 104px;
      clip-path: polygon(33% 0, 88% 58%, 53% 100%, 0 38%);
      top: 585px;
      left: 562px;
    }

    &--60 {
      width: 70px;
      height: 91px;
      clip-path: polygon(0% -1%, 100% 5%, 96% 100%, 33% 100%, 34% 92%, 0% 93%);
      top: 133px;
      left: 51px;
    }

    &--61 {
      width: 54px;
      height: 91px;
      clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
      top: 132px;
      left: 122px;
    }

    &--62 {
      width: 56px;
      height: 91px;
      clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 100%);
      top: 132px;
      left: 178px;
    }

    &--63 {
      width: 56px;
      height: 147px;
      clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0% 62%);
      top: 131px;
      left: 236px;
    }

    &--64 {
      width: 56px;
      height: 148px;
      clip-path: polygon(0% 0%, 100% 3%, 100% 64%, 0% 100%);
      top: 131px;
      left: 436px;
    }

    &--65 {
      width: 56px;
      height: 92px;
      clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
      top: 130px;
      left: 494px;
    }

    &--66 {
      width: 55px;
      height: 92px;
      clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 100%);
      top: 130px;
      left: 552px;
    }

    &--67 {
      width: 71px;
      height: 93px;
      clip-path: polygon(0% 7%, 100% 1%, 100% 100%, 0% 100%);
      top: 129px;
      left: 609px;
    }

    &--68 {
      width: 58px;
      height: 95px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 36% 93%, 36% 90%, 0% 85%);
      top: 11px;
      left: 688px;
    }

    &--69 {
      width: 61px;
      height: 105px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      top: 11px;
      left: 747px;
    }

    &--70 {
      width: 36px;
      height: 78px;
      clip-path: polygon(0 0, 100% 0, 100% 75%, 49% 100%, 0 100%);
      top: 10px;
      left: 813px;
    }

    &--71 {
      width: 74px;
      height: 105px;
      clip-path: polygon(25% 57%, 26% 0, 100% 0, 100% 100%, 0 100%, 1% 74%);
      top: 10px;
      left: 832px;
    }

    &--72 {
      width: 117px;
      height: 105px;
      clip-path: polygon(0 100%, 0 0, 100% 0, 100% 76%, 26% 76%, 26% 100%);
      top: 9px;
      left: 908px;
    }

    &--73 {
      width: 39px;
      height: 39px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      top: 9px;
      left: 1026px;
    }

    &--74 {
      width: 39px;
      height: 40px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      top: 49px;
      left: 1026px;
    }

    &--75 {
      width: 46px;
      height: 71px;
      clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
      top: 130px;
      left: 720px;
    }

    &--76 {
      width: 46px;
      height: 63px;
      clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
      top: 138px;
      left: 767px;
    }

    &--77 {
      width: 57px;
      height: 53px;
      clip-path: polygon(28% 0, 100% 36%, 71% 100%, 0 64%);
      top: 171px;
      left: 912px;
    }

    &--78 {
      width: 38px;
      height: 45px;
      clip-path: polygon(4% 2%, 99% 2%, 100% 100%, 0 100%);
      top: 170px;
      left: 987px;
    }

    &--79 {
      width: 56px;
      height: 58px;
      clip-path: polygon(46% 1%, 98% 33%, 53% 100%, 0 61%);
      top: 224px;
      left: 969px;
    }

    &--80 {
      width: 72px;
      height: 43px;
      clip-path: polygon(0% 0%, 89% 0%, 88% 16%, 100% 15%, 100% 84%, 81% 86%, 82% 100%, 0% 100%);
      top: 434px;
      left: 958px;
    }

    &--81 {
      width: 73px;
      height: 43px;
      clip-path: polygon(0% 0%, 81% 0%, 82% 23%, 100% 22%, 100% 84%, 88% 86%, 89% 100%, 0% 100%);
      top: 478px;
      left: 957px;
    }

    &--82 {
      width: 73px;
      height: 43px;
      clip-path: polygon(0% 0%, 88% 0%, 88% 10%, 100% 10%, 100% 80%, 88% 80%, 89% 100%, 0% 100%);
      top: 522px;
      left: 957px;
    }

    &--83 {
      width: 91px;
      height: 61px;
      clip-path: polygon(0% 98%, 2% 26%, 5% 13%, 11% 5%, 16% 1%, 99% 0%, 100% 100%);
      top: 156px;
      left: 1061px;
    }

    &--84 {
      width: 91px;
      height: 66px;
      clip-path: polygon(0% 1%, 100% 0%, 100% 100%, 8% 100%, 3% 69%);
      top: 224px;
      left: 1060px;
    }

    &--85 {
      width: 91px;
      height: 55px;
      clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0 100%, 3% 38%);
      top: 291px;
      left: 1060px;
    }

    &--86 {
      width: 91px;
      height: 60px;
      clip-path: polygon(0% 1%, 100% 0%, 100% 100%, 8% 100%, 3% 69%);
      top: 352px;
      left: 1060px;
    }

    &--87 {
      width: 91px;
      height: 59px;
      clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0 100%, 3% 38%);
      top: 414px;
      left: 1060px;
    }

    &--88 {
      width: 91px;
      height: 66px;
      clip-path: polygon(1% 18%, 14% 18%, 14% 0%, 100% 0, 100% 100%, 4% 100%);
      top: 480px;
      left: 1060px;
    }

    &--89 {
      width: 91px;
      height: 56px;
      clip-path: polygon(0% 78%, 6% 0, 100% 0%, 100% 99%, 14% 100%, 15% 78%);
      top: 548px;
      left: 1060px;
    }

    &--90 {
      width: 91px;
      height: 60px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);
      top: 610px;
      left: 1060px;
    }

    &--91 {
      width: 92px;
      height: 64px;
      clip-path: polygon(0% 67%, 5% 8%, 7% 0%, 100% 0%, 100% 100%, 14% 100%, 14% 67%);
      top: 671px;
      left: 1060px;
    }

    &--92 {
      width: 122px;
      height: 76px;
      clip-path: polygon(2% 5%, 6% 0%, 100% 0%, 100% 43%, 63% 100%);
      top: 737px;
      left: 1029px;
    }

    &--93 {
      width: 125px;
      height: 120px;
      clip-path: polygon(0 41%, 38% 0, 100% 64%, 64% 100%, 55% 100%);
      top: 739px;
      left: 981px;
    }
  }

  @include respond(phone) {
    &__heading {
      margin-bottom: 44px;
    }

    &__tabs {
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__tab {
      width: 124px;
      height: 46px;
      font-size: 1.4rem;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 24px;
      }
    }
  }
}
