.prize-page {
  padding: 60px 0 100px;
  position: relative;

  &__heading {

    &--nf {
      text-align: center;
      padding: 60px 0;
    }
  }

  &__left-img {
    position: absolute;
    left: 0;
    top: 200px;
  }

  &__bottom-img {
    position: absolute;
    right: 0;
    bottom: 90px;
  }

  &__container {
    @extend %container;
    position: relative;
    z-index: 3;
  }

  &__img {
    display: block;
    max-width: 600px;
    margin: 60px auto 60px;
  }

  &__video {
    display: block;
    //max-width: 600px;
    margin: 60px auto 60px;
  }

  &__info {
    text-align: center;
    margin-bottom: 120px;
  }

  &__date {
    @include text-style(2.4rem, 400, $accent-color);
    span {
      font-weight: 700;
      color: $main-color;
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__text {
    @include text-style(2.4rem, 400, $accent-color);
    line-height: 28px;
    margin-top: 40px;
  }

  &__back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    @include text-style(1.8rem, 400, #FF083D);
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    svg {
      margin-right: 10px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
  }

  @include respond(phone) {
    &__bottom-img {
      width: 207px;
      bottom: 20px;
    }

    &__left-img {
      display: none;
    }

    &__heading {
      margin-bottom: 40px;
    }

    &__video {
      margin: 60px auto 60px;
    }

    &__img {
      width: 204px;
      margin: 0 auto 25px;
    }

    &__info {
      text-align: center;

      &--mb60 {
        margin-bottom: 60px;
      }
    }

    &__date {
      @include text-style(1.8rem, 400, $accent-color);

      &:not(:first-child) {
        margin-top: 13px;
      }
    }

    &__text {
      @include text-style(1.8rem, 400, $accent-color);
      line-height: 21px;
      margin-top: 40px;
    }
  }
}
