.products-list {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 2;

  &__item {
    height: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 15px 25px rgba(138, 149, 158, 0.15);
    }
  }

  &__img {
    max-height: 160px;
    margin-bottom: 30px;
  }

  &__name {
    @include text-style(2.4rem, 400, $accent-color);
    padding: 0 10px;
    text-align: center;
  }

  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    &__item {
      height: unset;
      padding: 12px 0;
      border-radius: 10px;

      img {
        max-width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }

    &__name {
      @include text-style(1.8rem, 400, $accent-color);
    }
  }
}
