.rates-section {
  padding: 120px 0;
  background: #F1F1F1;

  &__container {
    @extend %container;
  }

  &__heading {
    margin-bottom: 94px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--start {
      align-items: flex-start;
      justify-content: flex-start;
    }

    &--mb8 {
      margin-bottom: 8px;
    }
  }

  &__list {
    position: relative;
    width: 590px;
  }

  &__item {
    border-bottom: 1px solid #263164;
    padding-bottom: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    @include text-style(2.2rem, 600, $primary-black);

    &--mb12 {
      margin-bottom: 12px;
    }
  }

  &__checkbox {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    border: 1px solid $main-color;

    &--checked {
      &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent-color;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__text {
    @include text-style(1.6rem, 400, $primary-black);
    line-height: 18.5px;
    span {
      font-weight: 500;
    }

    &--mr20 {
      margin-right: 20px;
    }
  }

  &__bg {
    width: 600px;
    position: absolute;
    right: 111px;
    top: 87px;
  }

  &__info-wrapper {
    width: 560px;
    height: 517px;
    position: relative;
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 517px;
    background: $white-color;
    box-shadow: 0 10px 20px rgba(138, 149, 158, 0.15);
    border-radius: 5px;
    padding: 50px 50px 120px;
    //position: relative;
  }

  &__slider-info {
    background: $white-color;
    box-shadow: 0 10px 20px rgba(138, 149, 158, 0.15);
    border-radius: 5px;
    padding: 50px 50px 120px;
  }

  &__info-header {
    text-align: center;
    margin-bottom: 40px;
  }

  &__info-body {


    & > * {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__icon {
    margin-right: 30px;
    flex-shrink: 0;
  }

  &__btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__slider{
    display: none;
  }

  &__swiper-container {
    padding-bottom: 60px;
  }

  &__next {
    right: 0px;
    bottom: 0;
    width: 40px;
    height: 40px;
    top: unset;
    margin: unset;

    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background-image: url("../assets/img/icons/slider-arrow.svg");
    }
  }

  &__prev {
    left: unset;
    right: 70px;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    top: unset;
    margin: unset;

    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background-image: url("../assets/img/icons/slider-arrow.svg");
    }
  }

  @include respond(tab-land) {
    &__row {
      &--d-none-md {
        display: none;
      }
    }

    &__slider {
      display: block;
    }
  }

  @include respond(phone) {
    padding: 90px 0;

    &__heading {
      margin-bottom: 43px;
    }

    &__slider-info {
      padding: 24px 24px 100px;
    }

    &__title {
      font-size: 2rem;
    }

    &__text {
      font-size: 1.4rem;

      &--mr20 {
        margin-right: 16px;
      }
    }

    &__info-header {
      margin-bottom: 30px;
    }

    &__info-body {
      & > * {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    &__icon {
      margin-right: 12px;
    }

    &__btn {
      bottom: 24px;
    }
  }
}
