.team-section {
  padding: 120px 0;
  background-color: #1D1D1D;

  &__heading {
    margin-bottom: 100px;
  }

  &__container {
    @extend %container;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    background-size: contain;
    background-position: center;

    &:first-child {
      background-image: url("~/assets/videos/animation-1.gif");
    }

    &:nth-child(2) {
      background-image: url("~/assets/videos/animation-2.gif");
    }

    &:nth-child(3) {
      background-image: url("~/assets/videos/animation-3.gif");
    }

    &:last-child {
      background-image: url("~/assets/videos/animation-1.gif");
    }
  }

  &__img {
    height: 277px;
    position: relative;
    z-index: 2;
  }

  &__info {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: $accent-color;
    text-align: center;
  }

  &__name {
    @include text-style(2.2rem, 600, $main-color);
    margin-bottom: 12px;
  }

  &__occupation {
    @include text-style(1.6rem, 400, $main-color);
  }

  &__swiper-container {
    padding-bottom: 60px;
  }

  &__next {
    right: 0px;
    bottom: 0;
    width: 40px;
    height: 40px;
    top: unset;
    margin: unset;

    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background-image: url("../assets/img/icons/slider-arrow-yellow.svg");
    }
  }

  &__prev {
    left: unset;
    right: 70px;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    top: unset;
    margin: unset;

    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background-image: url("../assets/img/icons/slider-arrow-yellow.svg");
    }
  }

  &__icon {
    position: absolute;
    animation-name: teamItems;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &--crown {
      z-index: 3;
      top: 0;
      left: 168px;
    }

    &--chat {
      z-index: 3;
      top: 30px;
      left: 235px;
    }

    &--glasses {
      z-index: 3;
      top: 40px;
      left: 155px;
    }
  }

  @include respond(phone) {
    padding: 90px 0;

    &__heading {
      margin-bottom: 43px;
    }

    &__icon {
      &--crown {
        left: 150px;
      }

      &--chat {
        left: 215px;
      }

      &--glasses {
        left: 135px;
      }
    }
  }
}
