.vgs {
  background-color: rgba(0, 0, 0, 0.72);
  backdrop-filter: blur(20px);

  &__close {
    color: $accent-color !important;
    font-size: 4rem !important;
    top: 15px !important;
    right: 20px !important;
  }

  &__container {
    margin-top: 92px !important;
    width: 1100px !important;
    height: 550px !important;
    background-color: transparent !important;
  }

  &__gallery {
    bottom: 170px !important;
    display: flex;
    justify-content: center;

    &__container {
      width: unset !important;
      display: inline-block !important;

      &__img {
        border-radius: 0 !important;
      }
    }

    &__title {
      display: none !important;
    }
  }

  &__next,
  &__prev {
    color: transparent !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px !important;
    height: 100px !important;
    margin-top: -75px !important;
  }

  &__next {
    background-image: url("../assets/img/icons/gallery-arrow.svg");
    right: 100px !important;
  }

  &__prev {
    background-image: url("../assets/img/icons/gallery-arrow.svg");
    transform: rotate(180deg);
    left: 100px !important;
  }

  @include respond(tab-land) {
    &__container {
      margin-top: 150px !important;
      width: 600px !important;
      height: 300px !important;
    }

    &__gallery {
      bottom: 255px !important;
      width: 600px;

      &__container {

        &__img {
          border-radius: 0 !important;
        }
      }
    }

    &__next,
    &__prev {
      width: 50px !important;
      height: 50px !important;
      margin-top: -150px !important;
    }

    &__next {
      right: 10px !important;
    }

    &__prev {
      left: 10px !important;
    }
  }

  @include respond(phone) {
    &__container {
      margin-top: -270px !important;
      width: 295px !important;
      height: 180px !important;
    }

    &__gallery {
      bottom: unset !important;
      top: 350px !important;
      width: 295px;
      height: 42px !important;
      display: flex !important;

      &__container {
        height: 42px !important;
        &__img {
          border-radius: 0 !important;
          height: 42px !important;
        }
      }
    }

    &__next,
    &__prev {
      width: 16px !important;
      height: 16px !important;
      margin-top: -175px !important;
      background-size: contain;
    }

    &__next {
      right: 10px !important;
    }

    &__prev {
      left: 10px !important;
    }

    &__close {
      top: 10px !important;
      right: 10px !important;
    }
  }
}
