.welcome-section {
  height: 100vh;
  background-image: url("../assets/img/welcome-section-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
    }
  }

  &__video-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__container {
    @extend %container;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__pentagon {
    position: relative;
    margin-bottom: 70px;

    svg {
      animation-name: rotate;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }
  }

  &__text {
    @include text-style(3.6rem, 700, $accent-color);
    line-height: 38px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-transform: uppercase;

    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  &__scroll-box {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__scroll {

  }

  &__scroll-line {
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);

    animation-name: scrollLine;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__scroll-text {
    @include text-style(1.2rem, 600, $accent-color);
    text-transform: uppercase;
    margin-top: 12px;
  }

  @include respond(phone) {
    &__pentagon {
      margin-bottom: 128px;
    }

    &__text {
      font-size: 2rem;
      line-height: 24px;
    }
  }
}
