@import "nullstyle.scss";

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/typography";
@import "abstracts/animations";

// blocks
@import "blocks/container";
@import "blocks/main";
@import "blocks/header";
@import "blocks/welcome-section";
@import "blocks/tagline-section";
@import "blocks/button";
@import "blocks/about-section";
@import "blocks/benefits";
@import "blocks/benefit-card";
@import "blocks/community-section";
@import "blocks/online-booking";
@import "blocks/rates-section";
@import "blocks/button-white";
@import "blocks/events-section";
@import "blocks/space-section";
@import "blocks/news-section";
@import "blocks/gallery-section";
@import "blocks/team-section";
@import "blocks/inst-section";
@import "blocks/sidebar";
@import "blocks/vgs";
@import "blocks/schedule-page";
@import "blocks/heading-fluid";
@import "blocks/path-box";
@import "blocks/event";
@import "blocks/community";
@import "blocks/news";
@import "blocks/about";
@import "blocks/gallery";
@import "blocks/footer";
@import "blocks/additional-services";
@import "blocks/loader";

html, body {
  font-size: 62.5%;
  font-family: $base-font;
  //scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

// swiper styles

